.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-image: url("assets/CSGO.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
li {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}
ul {
  list-style-type: none;
}
li p {
  font-size: 2rem;
}
li span {
  font-size: 1rem;
  color: #ccc;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
  padding: 2px;
  box-sizing: border-box;
}
.profile-photo {
  width: 200px;
  margin-right: 0rem;
}
